@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;900&display=swap');
@import "tailwindcss";

@font-face {
  font-family: 'Ryzes';
  src: url('/fonts/Ryzes.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --neon-red: #FF2A55;
}

body {
  background-color: black;
  color: #FF2A55;
  overflow-x: hidden;
}

@theme {
  --color-neon-red: #FF2A55;
}

.glow-text {
  text-shadow: 0 0 15px rgba(255, 42, 85, 0.6), 0 0 30px rgba(255, 42, 85, 0.2);
}
